{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
    <div class="col-sm-10">
      <h1 class='text-warning my-4 border-bottom'>About</h1>
      <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam magnam possimus blanditiis ipsum ut, quod odio
       debitis nemo fugit natus? Magni assumenda, accusantium fuga sed ut molestiae beatae aliquid laboriosam quod ea 
       reprehenderit rerum vitae neque soluta est nihil velit ipsam qui repellat laudantium? Exercitationem expedita illo
        culpa rerum earum?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam magnam possimus blanditiis ipsum ut, quod odio
       debitis nemo fugit natus? Magni assumenda, accusantium fuga sed ut molestiae beatae aliquid laboriosam quod ea 
       reprehenderit rerum vitae neque soluta est nihil velit ipsam qui repellat laudantium? Exercitationem expedita illo
        culpa rerum earum?</p>
    </div>
{% endblock content %}
